*, *::before, *::after{
  box-sizing: border-box;
}

// Construction

.container{
  max-width: 1000px;
  margin: 0 auto;
  header{
    .sns{
      display: flex;
      justify-content: flex-end;
      padding: 12px;

      li{
        .fb{
          margin-right: 12px;
        }
      }
    }

    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1{
        a{
          display: block;
          text-indent: 101%;
          overflow: hidden;
          white-space: nowrap;
          width: 244px;
          height: 50px;
        }
      }

      .menu{
        display: flex;

        li{
          position: relative;

          a{
            display: block;
            padding: 16px 24px;
            text-decoration: none;
          }

          &::before{
            display: none;
            content: "";
            padding: 2px 0;
            width: 100%;
            position: absolute;
            bottom: 0;
          }

          &:hover::before{
            display: block;
          }

          .slide{
            display: none;
            background: #fff;
            position: absolute;
            z-index: 999;
          }

          // &:hover ul{
          //   display: block;
          // }
        }
      }
    }
  }

  main{
    .skill-area{
      display: flex;
      .card{
        margin: 16px;
        width: 33.33%;
        padding:  4px 16px;

        .img-container{
          height: 160px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        h3{
          text-align: center;
        }

        p{
          margin-top: 12px;
        }

        ul{
          margin-left: 20px;
        }
      }
    }

    .versus-area{
      margin-top: 24px;
      margin-bottom: 48px;
      
      h2{
        text-align: center;
      }

      table{
        margin: 0 auto;
        margin-top: 24px;
        text-align: left;

        tr{

          th{
            padding: 10px 96px 10px 16px;
          }

          td{
            padding: 10px 96px 10px 16px;
          }
        }
      }
    }

    .info-area{
      text-align: center;
      padding: 32px 16px;

      h2{
        margin-bottom: 8px;
      }

      form{
        display: flex;
        margin-top: 32px;

        textarea{
          width: 60%;
        }

        .person-info{
          margin-left: 32px;
          text-align: left;

          input{
            width: 100%;
            margin: 4px 0 16px 0;
          }

          .submit{
            text-align: right;

            .btn-submit{
              width: 70px;
            }      
          }
        }
      }
    }
  }

  footer{
    display: flex;
    justify-content: space-between;
    padding: 16px 12px 24px 12px;
  }
}

