/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container header .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 12px;
}

.container header .sns li .fb {
  margin-right: 12px;
}

.container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header nav h1 a {
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 244px;
  height: 50px;
}

.container header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container header nav .menu li {
  position: relative;
}

.container header nav .menu li a {
  display: block;
  padding: 16px 24px;
  text-decoration: none;
}

.container header nav .menu li::before {
  display: none;
  content: "";
  padding: 2px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.container header nav .menu li:hover::before {
  display: block;
}

.container header nav .menu li .slide {
  display: none;
  background: #fff;
  position: absolute;
  z-index: 999;
}

.container main .skill-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container main .skill-area .card {
  margin: 16px;
  width: 33.33%;
  padding: 4px 16px;
}

.container main .skill-area .card .img-container {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main .skill-area .card h3 {
  text-align: center;
}

.container main .skill-area .card p {
  margin-top: 12px;
}

.container main .skill-area .card ul {
  margin-left: 20px;
}

.container main .versus-area {
  margin-top: 24px;
  margin-bottom: 48px;
}

.container main .versus-area h2 {
  text-align: center;
}

.container main .versus-area table {
  margin: 0 auto;
  margin-top: 24px;
  text-align: left;
}

.container main .versus-area table tr th {
  padding: 10px 96px 10px 16px;
}

.container main .versus-area table tr td {
  padding: 10px 96px 10px 16px;
}

.container main .info-area {
  text-align: center;
  padding: 32px 16px;
}

.container main .info-area h2 {
  margin-bottom: 8px;
}

.container main .info-area form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.container main .info-area form textarea {
  width: 60%;
}

.container main .info-area form .person-info {
  margin-left: 32px;
  text-align: left;
}

.container main .info-area form .person-info input {
  width: 100%;
  margin: 4px 0 16px 0;
}

.container main .info-area form .person-info .submit {
  text-align: right;
}

.container main .info-area form .person-info .submit .btn-submit {
  width: 70px;
}

.container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 12px 24px 12px;
}

.container header .sns {
  background: #f7f7f7;
}

.container header .sns li a {
  text-decoration: none;
}

.container header .sns li .fb {
  color: #3b5998;
}

.container header .sns li .twitter {
  color: #00acee;
}

.container header nav h1 a {
  background: url("../images/logo.png");
}

.container header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container header nav .menu li {
  position: relative;
}

.container header nav .menu li a {
  color: #00cc99;
}

.container header nav .menu li::before {
  background: #00cc99;
}

.container header nav .menu li .product-slide {
  background: #fff;
  font-size: 14px;
}

.container header nav .menu li .product-slide li {
  color: black !important;
}

.container main .skill-area .card {
  -webkit-box-shadow: 2px 2px 4px #888;
          box-shadow: 2px 2px 4px #888;
}

.container main .skill-area .card h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 4px;
}

.container main .skill-area .card p {
  font-size: 16px;
  line-height: 24px;
}

.container main .skill-area .card ul {
  font-size: 16px;
  line-height: 24px;
  list-style: disc;
}

.container main .versus-area h2 {
  font-size: 24px;
}

.container main .versus-area table {
  font-size: 14px;
}

.container main .versus-area table tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.container main .versus-area table tr th {
  background: #f7f7f7;
}

.container main .info-area {
  background: -webkit-gradient(linear, left top, left bottom, from(#02664c), to(#019772));
  background: linear-gradient(#02664c, #019772);
}

.container main .info-area h2 {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 1.2px;
}

.container main .info-area form .person-info label {
  color: #fff;
  line-height: 20px;
}

.container main .info-area form .person-info input {
  line-height: 24px;
}

.container main .info-area form .person-info .submit .btn-submit {
  line-height: 26px;
  color: #fff;
  background: #00cc99;
  border: none;
  border-radius: 2px;
}

.container footer .contact-us li {
  line-height: 20px;
  font-size: 14px;
}

.container footer .contact-us li .pink {
  color: #e7609f;
}

@media (max-width: 768px) {
  .container header nav {
    display: block;
  }
  .container header nav h1 {
    width: 244px;
    margin: 16px auto;
  }
  .container header nav .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container header nav .menu li {
    width: 50%;
    text-align: center;
    margin-top: 8px;
  }
  .container header nav .menu li .slide {
    width: 100%;
  }
  .container header nav .menu li .slide li {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container header nav .menu li .slide {
    background: #00cc99;
  }
  .container header nav .menu li .slide li a {
    color: #EAF0ED;
  }
}
/*# sourceMappingURL=all.css.map */